target/
out
.idea/
*.iml
static/
node_modules/
application.properties

# compiled output
dist
tmp
out-tsc


# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# misc
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
testem.log
typings
